{% extends "@Common/form.html.twig" %}

{% block seats_widget %}
    <div class="d-flex flex-wrap align-content-around flex-row mx-n2">
    {% for choice in form.vars.choices %}
        {% set available = form.vars.seats_info.available(choice.value) %}
        <label class="flex-fill mx-2 mb-2">
            <input type="radio" name="{{ form.vars.full_name }}" value="{{ choice.value }}" {% if choice.value == form.vars.value %}checked{% endif %} class="card-radio" {% if available == 0 %}disabled{% endif %}>
            <div class="card">
                <div class="card-body">
                    {% if available > 0 %}
                    <div class="indicator">
                        <i class="far fa-circle fa-lg"></i>
                        <i class="fas fa-check-circle fa-lg"></i>
                    </div>
                    {% endif %}

                    <p class="font-weight-bolder">
                        {{ choice.label }}
                    </p>

                    <span class="text-muted">
                        {{ 'form.seats'|trans({'%count%': available }) }}
                    </span>
                </div>
            </div>
        </label>
    {% endfor %}
    </div>
{% endblock %}

{% block paragraph_row %}
    {% for paragraph in form.vars['paragraphs'] %}
        <p>{{ paragraph }}</p>
    {% endfor %}
{% endblock %}

{%- block collection_row -%}
    <div class="mb-3 row{% if (not compound or force_error|default(false)) and not valid %} is-invalid{% endif %}">
        {{- form_label(form) -}}
        <div class="{{ block('form_group_class') }}">
            <div data-collection="collection-{{ form.vars.id }}" data-prototype="{{ form_widget(form.vars.prototype)|e('html_attr') }}">
                {% for child in form %}
                    {{ form_widget(child) }}
                {% endfor %}
            </div>

            <button type="button" class="btn btn-outline-primary btn-sm btn-add" data-collection="collection-{{ form.vars.id }}">
                <i class="fas fa-plus"></i> {{ 'actions.add'|trans }}
            </button>

            {{- form_errors(form) -}}
            {{- form_help(form) -}}
        </div>
    </div>
{%- endblock -%}

{%- block collection_entry_widget -%}
    <div class="d-flex mb-2 collection-entry">
        <div class="flex-fill">
            {{ form_widget(form) }}
        </div>

        <button type="button" class="btn btn-danger ms-2 btn-delete" data-selector=".collection-entry">
            <i class="fas fa-trash"></i>
        </button>
    </div>
{%- endblock -%}

{% block checkbox_label %}
    {{ parent() }}
    {% if required %}
    <i class="fas fa-asterisk text-danger"></i>
    {% endif %}
{% endblock %}

{%- block checkbox_row -%}
    <div{% with {attr: row_attr|merge({class: (row_attr.class|default('') ~ ' mb-3')|trim})} %}{{ block('attributes') }}{% endwith %}>{#--#}
        {{- form_widget(form) -}}
        {{- form_help(form) -}}
    </div>
{%- endblock checkbox_row %}